In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

# EDA

In [2]:
import joblib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pathlib import Path
from PIL import Image, ImageDraw, ImageFont

In [3]:
PATH = Path('../input')
PICKLE_PATH = PATH / 'image_pickles'
# HEIGHT = 137
# WIDTH = 236

In [4]:
df_train = pd.read_csv(PATH / 'train.csv'); df_train.head()

  image_id  grapheme_root  vowel_diacritic  consonant_diacritic grapheme
0  Train_0             15                9                    5   ক্ট্রো
1  Train_1            159                0                    0        হ
2  Train_2             22                3                    5     খ্রী
3  Train_3             53                2                    2     র্টি
4  Train_4             71                9                    5     থ্রো

In [7]:
df_train.shape

(200840, 5)

In [5]:
df_class_map = pd.read_csv(PATH / 'class_map.csv'); df_class_map.head()

  component_type  label component
0  grapheme_root      0         ং
1  grapheme_root      1         ঃ
2  grapheme_root      2         অ
3  grapheme_root      3         আ
4  grapheme_root      4         ই

In [6]:
df_class_map.shape

(186, 3)